@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    .promo {
        &__icons {
            margin-right: 40px;
        }
        &__link {
            margin-right: 80px;
        }
    }
    .button_main {
        margin-right: 80px
    }
    .consultation .container {
        padding-left: 40px;
    }
}

@media (max-width: 770px) {
    .header {
        padding: 0 40px 0 40px; 
    }
    .promo {
        &__header {
            padding-right: 50px;
        }
        h2 {
            padding-right: 50px;
        }
        &__icons {
            padding-right: 55px
        }
    }
    .advantage {
        &__wrapper {
            padding: 0 10px 0 10px;
        }
    }
    .consultation .title {
        font-size: 24px;
    }
}

@media (max-width: 575px) {
    .header {
        font-size: 12px;
        font-weight: 300;
        padding: 0 10px 0 10px; 
        flex-direction: column;
        justify-content: center;
        &__official {
            display: none;
        }
        &__phone {
            margin-top: 20px;
            text-align: center;
        }
        .button {
            width: 200px;
        }
    }
    .promo {
        &__header {
            text-align: center;
            padding-right: 0;
        }
        h2 {
            text-align: center;
            padding-right: 0;
        }
        &__icons {
            align-items: center;
            text-align: center;
            padding-right: 35px;
            padding-left: 35px;
            margin-right: 0;
            justify-content: space-around;
        }
        .button_main {
            margin-right: 0;
            margin: 25px auto;
        }
    }
    .advantage {
        &__wrapper {
            flex-direction: column;
        }
        &__block {
            padding-top: 20px;
        }
        &__subheader {
            margin-top: 0;
        }
    }

    .consultation .container {
        padding: 10px 30px 10px 30px;
    }

    .consultation .title {
        font-size: 18px;
        text-align: center;
    }
    .consultation .consultation__descr {
        font-size: 14px;
        text-align: center;
        margin-top: 30px;
    }
    .consultation .feed-form {
        margin: 30px auto;
    }
}
